---
layout: default
title: Ren Research Lab
categories:
 - home
---

<div class="row">
  <div class="col-md-12">
    <object id="home-logo" class="pull-left" data="/images/shaoxuan.jpg" type="image/jpg">
    </object>
    <div id="home-title">
      Ren Research Lab
    </div>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    The Ren Lab at the University of Alberta
    develops and implements electrochemistry and electrochemical engineering
    for energy and resources conversion and utilization.
  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a class="off" href="/publications/">
        Recent Publications
      </a>
    </h1>
    <hr>
    <div class="bigspacer"></div>
  </div>
</div>

  {% assign counter = 1 %}
  {% assign loopindex = -1 %}
  {% for publication in site.categories.publications limit:4 %}
    {% assign loopindex = counter | modulo: 2 %}
    {% if loopindex == 1 %}
<div class="row">
    {% endif %}
    {% include pub_box.html pub=publication short=true %}
    {% if loopindex == 0 %}
</div>
    {% endif %}
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  {% if loopindex == 1 %}
</div>
  {% endif %}
