---
layout: default
title: PURE Research Lab
categories:
 - home
---

<div class="row">
  <div class="col-md-12">
    <img id="home-logo" class="pull-left" src="/images/lab-logo.jpg" alt="PURE Research Lab logo">
    <div id="home-title">
      Welcome to the PURE  Lab @ UAlberta!
    </div>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
   The Precision Utilization of Resources and Energy (PURE) Lab at the 
   University of Alberta develops electrochemical technologies for the 
   precise conversion, recovery, and manufacturing of sustainable materials. 
   We integrate extractive metallurgy, electrochemistry, materials chemistry, 
   reactor engineering, and process analysis to control how electrons, ions, and
   molecules move through electrified interfaces and reactors. By connecting 
   molecular-level mechanisms with device- and system-scale design, we aim to 
   enable sustainable critical mineral recovery, low-carbon chemical production, and industrial decarbonization.

  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a class="off" href="/publications/">
        Recent Publications
      </a>
    </h1>
    <hr>
    <div class="bigspacer"></div>
  </div>
</div>

  {% assign counter = 1 %}
  {% assign loopindex = -1 %}
  {% for publication in site.categories.publications limit:4 %}
    {% assign loopindex = counter | modulo: 2 %}
    {% if loopindex == 1 %}
<div class="row">
    {% endif %}
    {% include pub_box.html pub=publication short=true %}
    {% if loopindex == 0 %}
</div>
    {% endif %}
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  {% if loopindex == 1 %}
</div>
  {% endif %}
