{% if include.short == true %}

  {% for author in include.pub_loc.authors-short %}
    {% assign linked = false %}
    {% assign is_co_first = false %}
    {% assign is_corresponding = false %}

    {% for member in site.categories.members %}
      {% if author == member.abbrev %}
        {% capture mem_url %}{{ member.url }}{% endcapture %}
        {% assign linked = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% for coauthor in include.pub_loc.co-first-short %}
      {% if author == coauthor %}
        {% assign is_co_first = true %}
      {% endif %}
    {% endfor %}

    {% for corrauthor in include.pub_loc.corresponding-short %}
      {% if author == corrauthor %}
        {% assign is_corresponding = true %}
      {% endif %}
    {% endfor %}

    {% if linked %}
      <a href="{{ mem_url }}">{{ author }}</a>{% if is_co_first %}<sup>†</sup>{% endif %}{% if is_corresponding %}<sup>*</sup>{% endif %}{% if forloop.last %}.{% else %}, {% endif %}
    {% else %}
      {{ author }}{% if is_co_first %}<sup>†</sup>{% endif %}{% if is_corresponding %}<sup>*</sup>{% endif %}{% if forloop.last %}.{% else %}, {% endif %}
    {% endif %}
  {% endfor %}

  <i> {{ include.pub_loc.journal-short }}</i> ({{include.pub_loc.year}})

{% else %}

  {% for author in include.pub_loc.authors %}
    {% assign linked = false %}
    {% assign is_co_first = false %}
    {% assign is_corresponding = false %}

    {% for member in site.categories.members %}
      {% if author == member.title %}
        {% capture mem_url %}{{ member.url }}{% endcapture %}
        {% assign linked = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% for coauthor in include.pub_loc.co-first %}
      {% if author == coauthor %}
        {% assign is_co_first = true %}
      {% endif %}
    {% endfor %}

    {% for corrauthor in include.pub_loc.corresponding %}
      {% if author == corrauthor %}
        {% assign is_corresponding = true %}
      {% endif %}
    {% endfor %}

    {% if linked %}
      <a href="{{ mem_url }}">{{ author }}</a>{% if is_co_first %}<sup>†</sup>{% endif %}{% if is_corresponding %}<sup>*</sup>{% endif %}{% if forloop.last %}.{% else %}, {% endif %}
    {% else %}
      {{ author }}{% if is_co_first %}<sup>†</sup>{% endif %}{% if is_corresponding %}<sup>*</sup>{% endif %}{% if forloop.last %}.{% else %}, {% endif %}
    {% endif %}
  {% endfor %}

  <i> {{ include.pub_loc.journal }}</i> {{ include.pub_loc.ref }} ({{include.pub_loc.year}})

{% endif %}