---
layout: default
title: MERP Research Lab / Publications
categories:
 - publications
---

{% assign grouped_publications = site.categories.publications | group_by_exp: "publication", "publication.year | append: '' | strip" | sort: "name" | reverse %}

{% for group in grouped_publications %}
  {% if group.name != "" %}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ group.name }}</h1>
      <hr>
    </div>
  </div>

  {% assign publications = group.items | sort: "date" | reverse %}
  {% assign counter = 0 %}

  <div class="row">
  {% for publication in publications %}

    {% if counter != 0 %}
      {% assign mod = counter | modulo: 2 %}
      {% if mod == 0 %}
  </div>
  <div class="row">
      {% endif %}
    {% endif %}

    {% include pub_box.html pub=publication %}

    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  </div>
  {% endif %}
{% endfor %}